
wl-app {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#666,#333);

    .status {
        position: absolute;
        bottom: 0;
    }
}
 